.default-layout {

  .main-content {
    display: flex;
    position: relative;

    .dashboard-outlet {
      padding: 60px;
      background-color: #fbfbfb;
      flex-grow: 1;
      height: calc(100vh - 221px);
      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;

      @media (max-width: 600px) {
        padding: 35px;
      }

      .header {
        font-weight: 500;
        color: $bluePrimary;
        font-size: $fontXXL;
        margin: 0;
      }
    }
    .dashboard-outlet::-webkit-scrollbar {
      display: none;
    }

    .toggle-sidebar {
      position: absolute;
      right: 0px;
      top: 10px;

      @media (min-width: 600px) {
        display: none;
      }
    }
  }
}