.default-layout {

  .main-content {
    display: flex;

    .dashboard-outlet {
      padding: 60px;
      background-color: #fbfbfb;
      flex-grow: 1;
      height: calc(100vh - 221px);
      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;

      .header {
        font-weight: 500;
        color: $bluePrimary;
        font-size: $fontXXL;
        margin: 0;
      }
    }
    .dashboard-outlet::-webkit-scrollbar {
      display: none;
    }
  }
}