$white: #ffffff;
$black: #000000;

$bluePrimary: #213F7D;
$blueSecondary: #545F7D;

//input
$inputBorder: #545f7d26;
$green100: #39CDCC;

//dashbord
$pink100: rgba(223, 24, 255, 0.1);
$blue100: rgba(87, 24, 255, 0.1);
$orange100: rgba(245, 95, 68, 0.1);
$red100: rgba(255, 51, 102, 0.1);
$red200: #E4033B;
$yellow100: #E9B200;
$green200: #39CD62;
$green300: #f3fcfc;
