$white: #ffffff;
$black: #000000;

$bluePrimary: #213F7D;
$blueSecondary: #545F7D;

//input
$inputBorder: #545f7d26;
$green100: #39CDCC;

//dashbord
$pink100: #df18ff;
$blue100: #5718ff;
$orange100: #f55f44;
$red100: #ff3366;
$red200: #E4033B;
$yellow100: #E9B200;
$green200: #39CD62;
