.form-button-default {
  border-radius: 8px;
  background-color: $green100;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $fontSM;
  color: $white;
  border: none;
  font-family: $avenirDemi;
  cursor: pointer;
}

.form-button-outlined {
  border-radius: 8px;
  background-color: $green100;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $fontSM;
  color: $white;
}

.form-button-default-small {
  border-radius: 8px;
  background-color: $green100;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $fontSM;
  color: $white;
}

.form-button-outlined-small {
  border-radius: 8px;
  background-color: $green100;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $fontSM;
  color: $white;
}

